.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.last-price{
	font-size: 36px;
	font-weight:bold;
	
}

.return-container{
	width: 80%;
	margin: auto;
}
.red-text{
	color: red;
}